.root {
  padding: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
}

.name {
  font-weight: bold;
}

.controls {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price {
}

