.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.title {
  text-align: center;
  flex-grow: 1;
}

.controls {
  display: flex;
  gap: 10px;
  align-items: center;
}
